**__pycache__**
**.pyc**
**.pkl**
**prepare
**.ckpt
**.key
**.org
**.vscode
**.zip**
**npy**
*.log
checkpoints/
data/
results/
*.gif
*.log*
data/
results/
traj2act_new/
vis/
*.csv
*.css
*.js
map/
map/*
